.carousel {
  margin: 0 auto;
  top: 0px;
  z-index: 0;
  width: 500px;
  img {
    width: 500px;
  }
}
.grid-container p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 25px;
  padding-left: 2%;
  padding-right: 2%;
  justify-self: end;
  display: block;
  text-align: center;
}
.grid-container .img2 {
  display: block;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
