.carousel {
  margin-left: 500px;
  margin-right: 500px;
  position: relative;
  top: 0px;
  z-index: 0;
}
.grid-container p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 25px;
  padding-left: 2%;
  padding-right: 2%;
  justify-self: end;
  text-align: center;
}
.grid-container .img2 {
  margin-left: 125px;
  padding: 2%;
  justify-content: space-between;
}
