@media screen and (max-width: 600px) {
  .grid-container {
    align-content: center;
  }
  .container4 {
    width: 80%;
    margin-left: 10%;
    align-content: center;
  }
  .listamarcas {
    align-content: center;
  }
  .imgfooter {
    width: 75%;
  }
  .header .navbar {
    width: 100%;
  }
  .rellenocontacto {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .carousel {
    vertical-align: auto;
    margin-right: 1000px;
  }
}
