html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
header {
  font-family: "Oswald", sans-serif;
}
article {
  font-family: "Oswald", sans-serif;
}
footer {
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #3b3435;
}
.grid-container {
  grid-template:
    "header header" 75px
    "article article" auto
    "footer footer" 500px;
  h3 {
    margin-bottom: 10px;
    margin-left: 20%;
    padding-left: 0cm;
    color: #8a2be2;
    text-align: left;
  }
  li {
    list-style: none;
  }
  a {
    color: rgb(243, 241, 239);
    text-decoration: none;
  }
}
.grid-container article {
  display: block;
}
.grid-container .footer {
  display: flex;
}
@import "variables";
@import "header";
@import "footer";
@import "index";
@import "contacto";
@import "productos";
@import "mediaq";
